In [10]:
import os,sys
import pandas as pd
sys.path.append(os.path.abspath(".."))
from src import Merge
from src import cleaning

In [2]:
df = pd.read_csv('../data/raw/api_source-alpha_symbol-VOO_20250823.csv')
df.columns

Index(['date', 'VOO_close'], dtype='object')

In [16]:
df = Merge.CSV_Merger(['api_source-alpha_symbol-VTI_20250823','api_source-alpha_symbol-VOO_20250823','api_source-alpha_symbol-SPY_20250823','api_source-alpha_symbol-SCHD_20250823','api_source-alpha_symbol-VIXY_20250823'])

In [17]:
df

            date  VTI_close  VOO_close  SPY_close  SCHD_close  VIXY_close
0     1999-11-01        NaN        NaN   135.5625         NaN         NaN
1     1999-11-02        NaN        NaN   134.5937         NaN         NaN
2     1999-11-03        NaN        NaN   135.5000         NaN         NaN
3     1999-11-04        NaN        NaN   136.5312         NaN         NaN
4     1999-11-05        NaN        NaN   137.8750         NaN         NaN
...          ...        ...        ...        ...         ...         ...
6487  2025-08-18     316.59     591.36   643.3000       27.26      37.110
6488  2025-08-19     314.67     588.13   639.8100       27.45      37.850
6489  2025-08-20     313.84     586.58   638.1100       27.51      37.610
6490  2025-08-21     312.76     584.27   635.5500       27.52      38.185
6491  2025-08-22     318.18     593.21   645.3100       27.95      35.190

[6492 rows x 6 columns]

In [19]:
#df.to_csv('../data/raw/Merged.csv', index=False)
df.columns

Index(['date', 'VTI_close', 'VOO_close', 'SPY_close', 'SCHD_close',
       'VIXY_close'],
      dtype='object')

In [20]:
df_dropped = cleaning.drop_missing(df,['VTI_close', 'VOO_close', 'SPY_close', 'SCHD_close','VIXY_close'],1)
df_dropped.to_csv('../data/processed/Merged_full.csv')