In [1]:
import numpy as np
import pandas as pd
from datetime import datetime
import sys,os
sys.path.append(os.path.abspath(".."))
from src import utils
print(dir(utils))

['Summary_Data', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'np', 'pd', 'plt']

In [6]:
df = pd.read_csv('../data/raw/starter_data.csv')
df.head(4)

  category  value        date
0        A     10  2025-08-01
1        B     15  2025-08-02
2        A     12  2025-08-03
3        B     18  2025-08-04

In [4]:
df_stats = utils.Summary_Data(df)

df_stats

  category  value_mean  value_std
0        A   11.500000   1.290994
1        B   15.666667   2.081666
2        C   27.666667   2.516611