In [7]:
from dotenv import load_dotenv
import pandas as pd
import numpy as np
import os,sys
sys.path.append(os.path.abspath(".."))
from src import cleaning

In [8]:
print(dir(cleaning))

['MinMaxScaler', 'StandardScaler', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'drop_missing', 'fill_missing_median', 'normalize_data']

In [5]:

df = pd.read_csv('../data/raw/api_source-alpha_symbol-SPY_20250820.csv')

In [6]:
df

          date  SPY_close
0   2025-08-20     638.11
1   2025-08-19     639.81
2   2025-08-18     643.30
3   2025-08-15     643.44
4   2025-08-14     644.95
..         ...        ...
95  2025-04-03     536.70
96  2025-04-02     564.52
97  2025-04-01     560.97
98  2025-03-31     559.39
99  2025-03-28     555.66

[100 rows x 2 columns]

In [9]:
df_standardized = cleaning.normalize_data(df,['SPY_close'])

In [10]:
df_standardized

          date  SPY_close
0   2025-08-20   0.953930
1   2025-08-19   0.965380
2   2025-08-18   0.988887
3   2025-08-15   0.989830
4   2025-08-14   1.000000
..         ...        ...
95  2025-04-03   0.270896
96  2025-04-02   0.458274
97  2025-04-01   0.434364
98  2025-03-31   0.423722
99  2025-03-28   0.398599

[100 rows x 2 columns]

In [11]:
## Assumptions 
# compiling larger data sets we'll start to see more missing data so the primary use here will be normalizing because most of the ETFs 
# are valued differently, so to standardize everything on the same value we would either need to compare % increase of a base investment
# or normalize the data, hence the need to normalize.